@{
    ViewBag.Title = "About";
}
<h1>ЕТ "Христо Малаков"</h1>
<h2>Информация</h2>

<p><span class="text-success">ЕТ "Христо Малаков"</span> е фирма базирана в гр.Сливен - България</p>
<p><span class="text-success">ЕТ "Христо Малаков"</span> извършва монтаж, демонтаж, ремонт и зареждане на климатична техника</p>
<p><span class="text-success">ЕТ "Христо Малаков"</span> извършва ремонт на хладилна техника</p>
