@{
    ViewBag.Title = "Contact";
}
<h1>ЕТ "Христо Малаков"</h1>
<h2>Вие можете да се свържете с нас на: </h2>

<address>
    Ж.К."Стоян Заимов"
    бл.89 вх.А ап.10
    гр.Сливен
    п.к.8800
    <abbr title="Phone">Телефон за контакти:</abbr>
    <span class="text-info">089/4433378</span>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivo_malakov@abv.bg">ivo_malakov@abv.bg</a><br />
    <strong>Marketing:</strong> <a href="mailto:ivo_malakov@abv.bg">ivo_malakov@abv.bg</a>
</address>