@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color: red; margin-bottom: 20px">Welcome to our Refrigerator and Air Conditioner Repair system</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th>AirCondtionrs</th>
                <th>Refrigerators</th>
            </tr>
            <tr>
                <td><a class="btn btn-primary button1" href="~/aircondtionrs/index">Go to air conditioners section</a></td>
                <td><a class="btn btn-warning button1" href="~/refrigerators/index">Go to refrigerators section</a></td>
            </tr>
        </table>
    </div>
</div>