.body-content {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: aqua;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

label {
    margin-right: 8px;
}

#details {
    visibility: hidden;
}

.button {
    margin: 10px auto 10px 300px;
}

.button1 {
    margin: 30px 10px 10px -7px;
}

.button2 {
    margin: 10px;
}

.button3 {
    margin: 30px 30px 3px 0;
}

.button4 {
    margin-right: 30px;
    width: 250px;
    height: 25px;
}

.button-central {
    margin: 10px 350px;
}

.update-button {
    margin-bottom: 25px;
    margin-left: 280px;
    width: 225px;
    height: 30px;
}

.rememberMe {
    margin: 10px auto 10px 170px;
}

.special-table input[type="text"],
.special-table input[type="number"] {
    width: 150px;
    margin-top: 10px;
}

.custom-navs {
    color: crimson;
}

.custom-divs {
    margin-top: 30px;
    margin-bottom: 10px;
}

.error-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.error-buttons button {
    margin-right: 30px;
}

.red {
    color: red;
}

.orangered {
    color: orangered;
}

.cyan {
    color: cyan;
}

.mainHeader {
    margin-bottom: 20px;
}