@using RefregeratorRepairSystem.Models.ViewModels.Repairs
@model DeleteRepairViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Изтрий този ремонт</h1>

@using (Html.BeginForm())
{
    <div>
        <table class="table table-striped special-table">
            <tr class="custom-navs">
                <th>
                    @Html.DisplayNameFor(m => m.Customer)
                </th>

                <th>
                    @Html.DisplayNameFor(m => m.Item)
                </th>

                <th>
                    Сигурен ли сте че искате да изтриете този ремонт?
                </th>
            </tr>

            <tr>
                <td>
                    @Html.EditorFor(model => model.Customer, new { htmlAttribute = new { @class = "form-control", disable = "disable", @readonly = "readonly" } })
                </td>

                <td>
                    @Html.EditorFor(model => model.Item, new { htmlAttribute = new {@class = "form-control", disable = "disable", @readonly = "readonly"}})
                </td>

                <td>
                    <input type="submit" class="btn btn-danger button2" value="Изтрий ремонта"/>
                    <a class="btn btn-success button2" href="~/AllRepairs">Върни се на страницата с ремонтите</a>
                </td>
            </tr>
        </table>
    </div>
}
