@{
    ViewBag.Title = "AllItems";
}

<h1>Списък на всички изделия ремонтирани в сервиза</h1>

<p>
    @Html.ActionLink("Добави новo Изделие", "Add")
</p>

<div id="cont">

</div>

<button class="btn btn-success button-central update-button" onclick="update()">Update Data</button>

@Html.ActionLink("Отиди на секцията за ремонтите", "AllRepairs", "Repairs", null , new { @class = "btn btn-primary button2"})
@Html.ActionLink("Отиди на секцията за частите", "AllParts", "Parts", null, new { @class = "btn btn-warning button2"})
@Html.ActionLink("Върни се на началната страница", "Index", "Home", null , new { @class = "btn btn-danger button2"})

<script>
    function update() {
        $("#cont").load("/Items/LoadData");
    }
</script>