@{
    ViewBag.Title = "AllItems";
}

<h1>Списък на всички изделия ремонтирани в сервиза</h1>

<p>
    @Html.ActionLink("Добави новo Изделие", "Add")
</p>

<div id="cont">

</div>

<button class="btn btn-success button-central update-button" onclick="update()">Update Data</button>

<a class="btn btn-primary button2" href="~/Repairs/AllRepairs">Отиди на секцията за ремонтите</a>
<a class="btn btn-warning button2" href="~/Parts/AllParts">Отиди на секцията за частите</a>
<a class="btn btn-danger button2" href="~/home">Върни се на началната страница</a>

<script>
    function update() {
        $("#cont").load("/Items/LoadData");
    }
</script>