
@{
    ViewBag.Title = "UnAuthorizeResult";
}

<h1><span class="cyan">!!!</span><span class="red">Неразрешен достъп</span><span class="cyan">!!!</span></h1>

<p class="orangered">Съжалявам, но Вие нямате достъп до тази страница. Моля върнете се към началната страница</p>
<div>
    <a class="btn btn-danger button2" href="~/home">Върни се на началната страница</a>
</div>

