
@{
    ViewBag.Title = "UnAuthorizeResult";
}

<h1><span class="cyan">!!!</span><span class="red">Неразрешен достъп</span><span class="cyan">!!!</span></h1>

<p class="orangered">Съжалявам, но Вие нямате достъп до тази страница. Моля върнете се към началната страница</p>
<div>
    @Html.ActionLink("Върни се на началната страница", "Index", "Home", null, new { @class = "btn btn-danger button2" })
</div>

